

.container-list-devices {
    position: fixed;
    bottom: 20px;
    left: 300px;
    width: 80%;
    height: 100px;
    z-index: 5000;
    background: white;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
}