.image-container-car {
    position: absolute;
    left: 430px;
    right: 430px;
    width: calc(100% - 430px);
    height: 100%;
  }

  .image-container-car img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right ;
   
  }